In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
measurements = pd.read_csv('Resources/hawaii_measurements.csv')
stations = pd.read_csv('Resources/hawaii_stations.csv')

In [3]:
measurements.info()

#all columns are fully populated except for 'prcp'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       18103 non-null float64
tobs       19550 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.0+ KB

In [4]:
#check statistical overview of data set at large
measurements.describe()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [5]:
#check statistical overview of dataset where prcp is null
null_prcp=measurements[measurements['prcp'].isnull()]

null_prcp.describe()

#the basic statistical profile of tobs between the two datasets is pretty similar,
#indicating that we can safely drop the NaNs without impacting the overall integrity of the data

       prcp         tobs
count   0.0  1447.000000
mean    NaN    74.387699
std     NaN     4.468849
min     NaN    58.000000
25%     NaN    71.500000
50%     NaN    75.000000
75%     NaN    78.000000
max     NaN    87.000000

In [6]:
by_station = measurements.groupby('station')
null_by_station = measurements[measurements['prcp'].isnull()].groupby('station')

by_station.count()

             date  prcp  tobs
station
USC00511918  1979  1932  1979
USC00513117  2709  2696  2709
USC00514830  2202  1937  2202
USC00516128  2612  2484  2612
USC00517948  1372   683  1372
USC00518838   511   342   511
USC00519281  2772  2772  2772
USC00519397  2724  2685  2724
USC00519523  2669  2572  2669

In [7]:
null_by_station.count()

#checking to see the distribution by station. 
# USC00517948 (50% prcp nul) and USC00518838 (33% prcp null) would loss significant data
# with dropping all NaN.

             date  prcp  tobs
station
USC00511918    47     0    47
USC00513117    13     0    13
USC00514830   265     0   265
USC00516128   128     0   128
USC00517948   689     0   689
USC00518838   169     0   169
USC00519397    39     0    39
USC00519523    97     0    97

In [8]:
measurements[measurements['station']=='USC00517948'].describe()

             prcp         tobs
count  683.000000  1372.000000
mean     0.063602    74.684402
std      0.243931     4.383041
min      0.000000    58.000000
25%      0.000000    72.000000
50%      0.000000    75.000000
75%      0.020000    78.000000
max      2.800000    87.000000

In [9]:
null_prcp[null_prcp['station']=='USC00517948'].describe()

       prcp        tobs
count   0.0  689.000000
mean    NaN   74.780842
std     NaN    4.466918
min     NaN   59.000000
25%     NaN   72.000000
50%     NaN   75.000000
75%     NaN   78.000000
max     NaN   87.000000

In [10]:
measurements[measurements['station']=='USC00518838'].describe()

             prcp        tobs
count  342.000000  511.000000
mean     0.207222   72.724070
std      0.508305    4.144946
min      0.000000   58.000000
25%      0.002500   70.000000
50%      0.030000   73.000000
75%      0.197500   76.000000
max      6.300000   83.000000

In [11]:
null_prcp[null_prcp['station']=='USC00518838'].describe()

# Even though large proportion of USC00517948 and USC00518838 readings will be knocked out,
# The statistic profiles of those tobs datasets dropped are similar to the dataset at large,
# indicating they can be dropped without wildly throwing off results.

       prcp        tobs
count   0.0  169.000000
mean    NaN   72.822485
std     NaN    4.355261
min     NaN   58.000000
25%     NaN   70.000000
50%     NaN   73.000000
75%     NaN   76.000000
max     NaN   81.000000

In [12]:
measurements_clean = measurements.dropna()

In [13]:
measurements_clean.to_csv('Resources/hawaii_measurements_clean.csv', index=False)
stations.to_csv('Resources/hawaii_stations_clean.csv', index=False)